/*section heroimg*/
.heroimg{
	padding:60px 0 105px;
	background-color:#fcdb00;
}
.logo{
	height:48px;
	display:inline-block:
}
.navbar ul{
	list-style:none;
	display:inline-block;
	padding:35px 0;
}
.navbar  ul li{
	display:inline-block;
	margin-right:35px;
	margin-bottom:70px;
	
}
.navbar li:last-child{
	display:inline-block;
	margin-right:0;
}
.navbar li a{
	padding: 30px;
	}
.social i{
	padding-top:40px;
	padding-right:40px;
}
.pt-70 col-5 a{
	padding-left:184px;
}
.ipad{
	margin-left:50px;
}
/*feature section css*/
.featureSection{
   padding: 120px 0 70px;
}
.thumbnail{
	margin-bottom:90px;
}
.thumbHeading{
	color:#010101;
	font-weight:bold;
	font-size:22px;
	margin-bottom:15px;
}
.thumbpara{
	font-size:16px;
	color:#898989;
}
.thumbicon i{
	font-size:42px;
}
.footer{
	padding:90px 0 140px;
	background-color:#010101;
}
.socialicons{
	margin-bottom:135px;
	
}


.socialicons li{
	display:inline-block;
	margin-right:30px;
}
.socialicons li  i{
	font-size:35px;
     color:#fcdb00;
}
.footerlink li,.footerlink li a{
	color:#fff;
	font-size:16px;

}
.firstCap li a{
	text-transform:capitalize;
}